{% extends 'Home/base.html' %}
{% load static %}


    {% block scripts %}
        <link rel="stylesheet" href="{% static 'Home/style/AddCartPage.css' %}">
    {% endblock %}
    {% block page_title %} Add Cart {% endblock %}


{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Cart</h1>
         </div>
    </section>
    
    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col">Product</th>
                                <th scope="col">Available</th>
                                <th scope="col" class="text-center">Quantity</th>
                                <th scope="col" class="text-right">Price</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for key, value in AddCartInfos.items %}

                                <tr>
                                    <td><img src="{{ key.pic.url }}" alt="{{key.pic}}" height=200px width=200px /> </td>
                                    <td>  {{ key.name|title }} </td>
                                    <td>In stock</td>
                                    {% for frequency in value.keys %}
                                        <td><input class="form-control" type="text" value="{{ frequency }}" /></td>
                                    {% endfor %}
                                    <td class="text-right"> {{ key.price }} Tk </td>
                                    <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Sub-Total</td>
                                    {% for sub_total_price in value.values %}
                                        <td class="text-right"> {{ sub_total_price }} Tk </td>
                                    {% endfor %}
                                </tr>

                            {% endfor %}
                            
                
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Shipping</td>
                                <td class="text-right">6,90 Tk </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong>Total</strong></td>
                                <td class="text-right"><strong> {{ total_price }} Tk </strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-12  col-md-6">
                        <button class="btn btn-block btn-light">Continue Shopping</button>
                    </div>
                    <div class="col-sm-12 col-md-6 text-right">
                        <button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}