{% extends 'Home/base.html' %}
{% load static %}

{% block scripts %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'Home/style/SpecificProduct.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}

{% block page_title %} {{ productinfo.name|title }} | Binary Soft {% endblock %}

{% block content %}

    <div class="container mt-5 mb-5">
        <div class="card">
            <div class="row g-0">
                <div class="col-md-6 border-end">
                    <div class="d-flex flex-column justify-content-center">
                        <div class="main_image"> <img src="{{ productinfo.pic.url }}" id="main_product_image"
                                width="350"> </div>
                        <div class="thumbnail_images">
                            <ul id="thumbnail">
                                <li><img onclick="changeImage(this)" src="{{ productinfo.pic.url }}" width="70">
                                </li>
                                <li><img onclick="changeImage(this)" src="{{ productinfo.pic2.url }}" width="70">
                                </li>
                                <li><img onclick="changeImage(this)" src="{{ productinfo.pic3.url }}" width="70">
                                </li>
                                <li><img onclick="changeImage(this)" src="{{ productinfo.pic4.url }}" width="70">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-3 right-side">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3> {{ productinfo.name|title }} </h3> <i class='bx bx-heart'></i><span>Time</span>
                        </div>
                        <div class="mt-2 pr-3 content">
                            <p> {{ productinfo.description }} </p>
                        </div>
                        <h3>tk : {{ productinfo.price }}</h3>
                        <div class="ratings d-flex flex-row align-items-center">
                            <div class="d-flex flex-row"> <i class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i
                                    class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i class='bx bx-star'></i>
                            </div>
                        </div>
                        {% if productinfo.warranty > 0 %}
                        <h6>Warranty: {{ productinfo.warranty }} </h6>
                        {% endif %}
                        <div class="mt-5"> <span class="fw-bold"></span>
                            <div class="colors">
                                <h4>Weight: {{ productinfo.weight }} </h4>
                            </div>
                        </div>
                        <div class="buttons d-flex flex-row mt-5 gap-3"> <button class="btn btn-outline-dark">Buy
                                Now</button> <button class="btn btn-dark">Add to Basket</button> </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}